
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="programmer"  class="org.example.programmer" autowire="byName">
        <property name="age" value="33"/>
        <property name="comp">
            <bean class="org.example.Desktop"/>
        </property>


<!--        <constructor-arg index="1" ref="laptop"></constructor-arg>-->
<!--        <constructor-arg index="0" value="30"></constructor-arg>-->
<!--        <constructor-arg type="int" value="30"></constructor-arg>-->
<!--        <constructor-arg type="org.example.Laptop" ref="laptop"></constructor-arg>-->
<!--        <property name="age" value="21"></property>-->
<!--        <property name="lap" ref="laptop"></property>-->
    </bean>

<!--    <bean id="comp" class="org.example.Laptop" primary="true"/>-->
<!--    <bean id="comp" class="org.example.Laptop" lazy-init="true"/> &lt;!&ndash;so if a none lazy object is depending on a lazy object it will be created no matter what otherwise the lazy object won't bea created unless gets called&ndash;&gt;-->
<!--<bean class="org.example.Desktop"/> &lt;!&ndash; no need fo the id if got the bean using class object &ndash;&gt;-->
</beans>