
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="programmer"  class="org.example.programmer" autowire="byName">
        <property name="age" value="33"/>


<!--        <constructor-arg index="1" ref="laptop"></constructor-arg>-->
<!--        <constructor-arg index="0" value="30"></constructor-arg>-->
<!--        <constructor-arg type="int" value="30"></constructor-arg>-->
<!--        <constructor-arg type="org.example.Laptop" ref="laptop"></constructor-arg>-->
<!--        <property name="age" value="21"></property>-->
<!--        <property name="lap" ref="laptop"></property>-->
    </bean>

    <bean id="comp" class="org.example.Desktop" primary="true"/>

</beans>